<div class="row">
    <div class="col-md-6">
        <h2 translate>Please enter your information</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">
            <div class="form-group">
                <label for="email" translate>Email</label>
                <input id="email" type="text" required name="email" validateEmail class="form-control"
                    placeholder="Email" ngModel #email="ngModel">
                <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger" translate>Please enter a valid email</small>
            </div>
            <div class="form-group">
                <label for="password" translate>Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                    ngModel>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting" translate>Sign Up</button>
                <app-spinner [isRunning]="isRequesting"></app-spinner>
            </div>

            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong translate>Oops!</strong> {{errors}}
            </div>

        </form>
    </div>
</div>