<div *ngIf="userType=='Doctor'">
    <h1>Add Documents</h1>
    <mat-form-field>
        <mat-label>Patient</mat-label>
        <mat-select (selectionChange)="onPatientChange($event.value)">
            <mat-option *ngFor="let patient of patients" [value]="patient">
                {{patient.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <div fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="exportFormGroup" fxFlex="70">
            <mat-form-field fxFlexFill>
                <input hidden type="file" accept=".pdf" #fileInput (change)="onFileChange($event)">
                <input matInput placeholder="Document" formControlName="fileName" readonly (click)="fileInput.click()">
            </mat-form-field>
        </form>
        <button [disabled]="exportFormGroup.invalid" mat-button color="primary" fxFlex="30" (click)="upload()">
            Upload
        </button>
    </div>
    <br>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="documents">
        <thead>
            <tr>
                <th>Document Name</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let document of documents">
                <td>{{ document.name }}</td>
                <td><button mat-raised-button color="primary" (click)="download(document.documentId)">Download</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="userType=='Patient'">
    <h1>Documents</h1>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patientDocuments">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Document</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patientDocument of patientDocuments">
                <td>{{ patientDocument.doctorName }}</td>
                <td>{{ patientDocument.name }}</td>
                <td><button mat-raised-button color="primary" (click)="download(patientDocument.documentId)">Download</button>
            </tr>
        </tbody>
    </table>
</div>