<h1>Pick a reception</h1>


<div fxLayout="row" fxLayoutAlign="start center">
    <form [formGroup]="receptionFormGroup" fxFlex="70">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="onCategorychange($event.value)" formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.name">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Hospital</mat-label>
            <mat-select (selectionChange)="onHospitalchange($event.value)" formControlName="hospital">
                <mat-option *ngFor="let hospital of hospitals" [value]="hospital">
                    {{hospital.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Doctor</mat-label>
            <mat-select (selectionChange)="onDoctorChange($event.value)" formControlName="doctor">
                <mat-option *ngFor="let doctor of doctors" [value]="doctor">
                    {{doctor.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p *ngIf="selectedDoctor">Reception price for selected doctor is <b>{{selectedDoctor.receptionPrice}}$</b></p>
        <div *ngIf="liqPayModel">
            <!-- <form [formGroup]="payForm" (ngSubmit)="LiqPay()">
                 <input type="hidden" name="data" value="liqPayModel.Data" />
                <input type="hidden" name="signature" value="liqPayModel.Signature" />
                <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;
                                                color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
                                                background: rgb(122,183,43) !important;" onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                    <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                         style="margin-right: 7px !important; vertical-align: middle !important;" />
                    <span style="vertical-align:middle !important">Pay</span> 
                </button>

                <input type="hidden" name="data" value="{{liqPayModel.Data}}" />
                <input type="hidden" name="signature" value="{{liqPayModel.Signature}}" />
                <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;
                color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
                background: rgb(122,183,43) !important;" onmouseover="this.style.opacity='0.5';"
                    onmouseout="this.style.opacity='1';">
                    <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                        style="margin-right: 7px !important; vertical-align: middle !important;" />
                    <span style="vertical-align:middle !important">Pay</span>
                </button>
            </form> -->
            <!-- <form [formGroup]="payForm" (ngSubmit)="pay()" accept-charset="utf-8">
                <input formControlName="data" type="hidden" name="data" value="{{liqPayModel.data}}" />
                <input formControlName="signature" type="hidden" name="signature" value="{{liqPayModel.signature}}" />

                <button type="submit" class="payButton">
                    <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                        style="margin-right: 7px !important; vertical-align: middle !important;" />
                    <span style="vertical-align:middle !important">Pay</span>
                </button>
            </form> -->
            <form #form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                <input  name="data" value="{{liqPayModel.data}}" />
                <input  name="signature" value="{{liqPayModel.signature}}" />
                <input type="image" (click)="form.submit()" src="//static.liqpay.ua/buttons/p1ru.radius.png" />
         </form>
        </div>

        <br>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="OnDateChange($event.value)" [value]="date.value"
                formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Time</mat-label>
            <mat-select (selectionChange)="onTimeChange($event.value)" formControlName="time">
                <mat-option *ngFor="let ah of availableHours" [value]="ah">
                    {{ah}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="submitReception()">Submit</button>
</div>



<!-- <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="onCategorychange($event.value)">
        <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Hospital</mat-label>
    <mat-select (selectionChange)="onHospitalchange($event.value)">
        <mat-option *ngFor="let hospital of hospitals" [value]="hospital">
            {{hospital.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Doctor</mat-label>
    <mat-select (selectionChange)="onDoctorChange($event.value)">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
            {{doctor.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<p *ngIf="selectedDoctor">Reception price for selected doctor is <b>{{selectedDoctor.receptionPrice}}$</b></p>
<br>
<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateInput)="OnDateChange($event.value)" [value]="date.value">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Time</mat-label>
    <mat-select (selectionChange)="onTimeChange($event.value)">
        <mat-option *ngFor="let ah of availableHours" [value]="ah">
            {{ah}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="submitReception()">Submit</button> -->