<div *ngIf="userType=='Patient'">
    <h1 translate>Pick a reception</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
        <form [formGroup]="receptionFormGroup" fxFlex="70">
            <mat-form-field>
                <mat-label translate>Category</mat-label>
                <mat-select (selectionChange)="onCategorychange($event.value)" formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.name">
                        {{category.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label translate>Hospital</mat-label>
                <mat-select (selectionChange)="onHospitalchange($event.value)" formControlName="hospital">
                    <mat-option *ngFor="let hospital of hospitals" [value]="hospital">
                        {{hospital.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label translate>Doctor</mat-label>
                <mat-select (selectionChange)="onDoctorChange($event.value)" formControlName="doctor">
                    <mat-option *ngFor="let doctor of doctors" [value]="doctor">
                        {{doctor.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p *ngIf="selectedDoctor">Reception price for selected doctor is <b>{{selectedDoctor.receptionPrice}}$</b>
            </p>
            <!-- <div *ngIf="liqPayModel">
                  <form #form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                    <input type="hidden" name="data" value="{{liqPayModel.data}}" />
                    <input type="hidden" name="signature" value="{{liqPayModel.signature}}" />
                    <button (click)="form.submit()" class="payButton">
                        <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                            style="margin-right: 7px !important; vertical-align: middle !important;" />
                        <span style="vertical-align:middle !important">Pay</span>
                    </button>
                </form>
            </div> -->

            <br>
            <mat-form-field>
                <mat-label translate>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" (dateInput)="OnDateChange($event.value)" [value]="date.value"
                    formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label translate>Time</mat-label>
                <mat-select (selectionChange)="onTimeChange($event.value)" formControlName="time">
                    <mat-option *ngFor="let ah of availableHours" [value]="ah">
                        {{ah}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="submitReception()" translate>Submit</button>
    </div>
    <br>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patientReceptions">
        <thead>
            <tr>
                <th translate>Doctor Name</th>
                <th translate>Date</th>
                <th translate>Time</th>
                <th translate>Address</th>
                <th translate>Category</th>
                <th translate>Pay</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patientReception of patientReceptions">
                <td>{{ patientReception.name }}</td>
                <td>{{ patientReception.formatedDate }}</td>
                <td>{{ patientReception.time }}</td>
                <td>{{ patientReception.address }}</td>
                <td>{{ patientReception.purpose }}</td>
                <td *ngIf="!patientReception.isPayed" >

                    <form #form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                        <input type="hidden" name="data" value="{{patientReception.data}}" />
                        <input type="hidden" name="signature" value="{{patientReception.signature}}" />
                        <!-- <input type="image" (click)="form.submit()" src="//static.liqpay.ua/buttons/p1ru.radius.png" /> -->
                        <button (click)="form.submit()" class="payButton">
                            <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                                style="margin-right: 7px !important; vertical-align: middle !important;" />
                            <span style="vertical-align:middle !important">Pay</span>
                        </button>
                    </form>
                </td>
                <td *ngIf="patientReception.isPayed" >
                    Payed
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="userType=='Doctor'">
    <h1 translate>Receptions</h1>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="doctorReceptions">
        <thead>
            <tr>
                <th translate>Patient Name</th>
                <th translate>Date</th>
                <th translate>Time</th>
                <th translate>Address</th>
                <th translate>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctorReception of doctorReceptions">
                <td>{{ doctorReception.name }}</td>
                <td>{{ doctorReception.formatedDate }}</td>
                <td>{{ doctorReception.time }}</td>
                <td>{{ doctorReception.address }}</td>
                <td>{{ doctorReception.purpose }}</td>
            </tr>
        </tbody>
    </table>
</div>