<div *ngIf="userType=='Doctor'">
    <h1>Prescribe Medicine</h1>
    <mat-form-field>
        <mat-label>Patient</mat-label>
        <mat-select (selectionChange)="onPatientChange($event.value)">
            <mat-option *ngFor="let patient of patients" [value]="patient">
                {{patient.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <form class="example-form" (submit)="submitProcedure()">
        <mat-form-field class="example-full-width">
            <mat-label>Add Procedure</mat-label>
            <input matInput [formControl]="procedureFormControl" [errorStateMatcher]="matcher" placeholder="Procedure Name">
            <mat-hint>Fill the procedure name field</mat-hint>
            <mat-error *ngIf="procedureFormControl.hasError('required')">
                Procedure Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <br>

        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    <br>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="procedures">
        <thead>
            <tr>
                <th>Procedure Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let procedure of procedures">
                <td>{{ procedure.name }}</td>
            </tr>
        </tbody>
    </table>
</div>