<div *ngIf="userType=='Doctor'">
    <h1 translate>Prescribe Medicine</h1>
    <mat-form-field>
        <mat-label translate>Patient</mat-label>
        <mat-select (selectionChange)="onPatientChange($event.value)">
            <mat-option *ngFor="let patient of patients" [value]="patient">
                {{patient.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label translate>Comments</mat-label>
        <input matInput [(ngModel)]="procedureComments" />

    </mat-form-field>
    <br>
    <form class="example-form" (submit)="submitProcedure()">
        <mat-form-field class="example-full-width">
            <mat-label translate>Add Procedure</mat-label>
            <input matInput [formControl]="procedureFormControl" [errorStateMatcher]="matcher"
                placeholder="Procedure Name">
            <mat-hint translate>Fill the procedure name field</mat-hint>
            <mat-error *ngIf="procedureFormControl.hasError('required')" translate>
                Procedure Name is <strong translate>required</strong>
            </mat-error>
        </mat-form-field>
        <br>
        <br>

        <button mat-raised-button color="primary" type="submit" translate>Submit</button>
    </form>
    <br>

    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="procedures">
        <thead>
            <tr>
                <th translate>Procedure Name</th>
                <th translate>Comments</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let procedure of procedures">
                <td>{{ procedure.name }}</td>
                <td>{{ procedure.comments }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="userType=='Patient'">
    <h1 translate>Prescribed Medicine</h1>
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="patientProcedures">
        <thead>
            <tr>
                <th translate>Doctor Name</th>
                <th translate>Procedure Name</th>
                <th translate>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patientProcedure of patientProcedures">
                <td>{{ patientProcedure.doctorName }}</td>
                <td>{{ patientProcedure.name }}</td>
                <td>{{ patientProcedure.comments }}</td>

            </tr>
        </tbody>
    </table>
</div>