<h1 translate>Welcome to Pharma!</h1>
<div>
  <p style="display: inline" translate>You should </p> <a [routerLink]="['/login']" translate>Login</a>
  <p style="display: inline" translate>or</p> <a [routerLink]="['/register']" translate>Register</a>
  <p style="display: inline" translate>first</p>
</div>
<p translate>Here you can:</p>
<ul>
  <li translate>Pick a <a [routerLink]="['/reception']" translate>Reception</a></li>
  <li translate>Revise <a [routerLink]="['/doctor-ratings']" translate>Ratings</a></li>
  <li translate>Fill your profile</li>
</ul>
<p translate>If you have already visited a doctor, you can:</p>
<ul>
  <li>
    <div >
      <p style="display: inline" translate>See the</p> <a [routerLink]="['/drug']" translate>Medecine</a>
      <p style="display: inline" translate>adviced to you</p>
    </div>
  </li>
  <li translate>Download your <a [routerLink]="['/document']" translate>Documents</a></li>
  <li translate>Or revise prescribed <a [routerLink]="['/procedure']" translate>Procedures</a></li>
</ul>
<p translate>Help healthcare make even smarter descisions!</p>
<p translate>For any complaints and suggestions email on <strong>Pharma@gmail.com</strong></p>