<h1>Welcome to Pharma!</h1>
<p>You should <a [routerLink]="['/login']">Login</a> or <a [routerLink]="['/register']">Register</a> first</p>
<p>Here you can:</p>
<ul>
  <li>Pick a <a [routerLink]="['/reception']">Reception</a></li>
  <li>Revise <a [routerLink]="['/doctor-ratings']">Ratings</a></li>
  <li>Fill your profile</li>
</ul>
<p>If you have already visited a doctor, you can</p>
<ul>
  <li>See the <a [routerLink]="['/drug']">Medecine</a> adviced to you</li>
  <li>Download your <a [routerLink]="['/document']">Documents</a></li>
  <li>Or revise prescribed <a [routerLink]="['/procedure']">Procedures</a></li>
</ul>
<p>Help healthcare make even smarter descisions!</p>
<p>For any complaints and suggestions email on <strong>Pharma@gmail.com</strong></p>