<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <mat-icon>add_circle_outline</mat-icon><a class="navbar-brand" [routerLink]="['/']">Pharma ({{this.userType}})</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" *ngIf="userType=='No User'">
            <button mat-raised-button color="primary" (click)="setLanguage('en')">En</button>
            <button mat-raised-button color="primary" (click)="setLanguage('ukr')">Ukr</button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userType!='No User'">
            <a class="nav-link text-dark" [routerLink]="" (click)="logout()" translate>Logout</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="userType=='No User'">
            <a class="nav-link text-dark" [routerLink]="['/login']" translate>Login</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="userType!='No User'">
          <li class="nav-item">
            <button mat-raised-button color="primary" (click)="setLanguage('en')">En</button>
            <button mat-raised-button color="primary" (click)="setLanguage('ukr')">Ukr</button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/dashboard/home']" translate>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/reception']" translate>Reception</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/doctor-ratings']" translate>Ratings</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/document']" translate>Documents</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/drug']" translate>Drugs</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/procedure']" translate>Procedures</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>